.control_Container {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  /* z-index: 1; */
  display: flex;
  justify-content: space-between;
}


.top_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
}

.mid__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider__container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.control__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner__controls {
  display: flex;
  padding: 10px 0;
  align-items: center;
  width: 50%;
}

.span {
  flex-shrink: 0;
  color: #fff;
  font-size: 0.8rem;
  margin-left: 20px;
}

.second__control {
  display: flex;
  align-items: center;
}

/* 

Use these three colors for the controls
#146173
#BFAE99
#D97777

*/

.icon__btn {
  padding: 0 10px;
  color: #D97777;
}

/* allign it in center */
.fast__rewind {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.fast__forward {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;

}